.error{
    color:red;
}
.form-group{
    margin-bottom: 10px !important;
}
.btn{
    margin-bottom: 10px !important;
}
#resultMessage p{
    margin:0 0 1px !important;
}

#cb_grid-table{
    margin-top: -4px !important;
    margin-left:2px;
}

.ui-jqgrid td .cbox{

    margin-top:4px; !important;
}
.buttons-with-margins{
    padding: 10px 10px 0px 10px;
}
