<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/sie</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.sie.framework.entity.CouponEntity"/>
    <mapping class="com.sie.framework.entity.CourseEntity"/>
    <mapping class="com.sie.framework.entity.CrEntity"/>
    <mapping class="com.sie.framework.entity.DormitoryEntity"/>
    <mapping class="com.sie.framework.entity.GradeEntity"/>
    <mapping class="com.sie.framework.entity.OrderEntity"/>
    <mapping class="com.sie.framework.entity.OrderDetailEntity"/>
    <mapping class="com.sie.framework.entity.StudentEntity"/>
    <mapping class="com.sie.framework.entity.SysLogEntity"/>
    <mapping class="com.sie.framework.entity.SysMenuEntity"/>
    <mapping class="com.sie.framework.entity.SysRoleEntity"/>
    <mapping class="com.sie.framework.entity.SysRoleMenuEntity"/>
    <mapping class="com.sie.framework.entity.SysUserEntity"/>
    <mapping class="com.sie.framework.entity.ProjectEntity"/>
    <mapping class="com.sie.framework.entity.SchoolEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>